.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.HeaderText {
  margin-left: 10px;
}

.Title {
  font-size: 50px;
}

.Subtitle {
  font-size: 20px;
}

.ColumnHeader {
  font-size: 40px;
}

.ItemList {
  margin: 0px auto;
}

.item-container {
  display: flex;
  margin: 10px 0;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
}

.checkbox {
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid black;
  margin: 5px;
}
